@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {

}

/* global styles */

.wrapper {
    padding: 0 2em;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

/* mobile view */

.top_bg_container {
    height: 100vh;
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 80% auto;
    z-index: -1;
}

.light_streaks {
    height: 100vh;
    background: #B2DD9E url("./assets/streaks.jpg");
    background-blend-mode: screen;
    background-size: cover;
}

.blue_col {
    background-color: #7988BE;
    height: 100vh;
}

/* main */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: .2em .4em;
    color: #fff;
    font-size: 1.6rem;
    background: #000;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;

}

.logo span {
    color: #7988BE;
}

.menu{
    width: 2em;
    cursor: pointer;
    transition: 400ms;
}

.menu:hover {
    scale: 1.1;
}

/* nav */

nav {
    height: 100vh;
    width: 60%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: 0;
    background: #363B4E;
    color: #fff;
    z-index: 2;
    text-align: right;
    transform: translateX(100%);
    transition: 300ms transform;
}

.exit {
    width: 2em;
    margin: 2em;
    cursor: pointer;
    transition: 400ms;
}

.exit:hover {
    scale: 1.1;
}

ul li a {
    display: block;
    padding: 1em;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: 400ms;
}

ul li a:hover {
    background: #B2DD9E;
    color: #000;
}

/* main hero */

.hero {
    margin: 4em 3em;
    height: 75vh;
}

.hero_title {
    width: 80%;
    margin: 1em auto 0;
    font-size: 3rem;
    text-align: left;
}

.hero_intro {
    font-size: 1.25rem;
    line-height: 1.4;
    width: 80%;
    margin: 1em auto;
    text-align: left;
}


.drone_pics {
    position: relative;
    width: 70%;
    margin-top: 4em;
}

.drone_pic,
.blur_pic {
    position: absolute;
}

.blur_pic {
    top: 1em;
    opacity: .4;
    animation: puls 2s alternate-reverse infinite;
}

.drone_pic {
    animation: up 2s alternate-reverse infinite;
}

@keyframes up {
    from {
        transform: translateY(-40px);
    }
}

@keyframes puls {
    from {
        opacity: 0;
    }
}

/* hero
hero_type
hero_title
hero_intro
drone_pics
drone_pic
blur_pic */



