@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {

}

/* global styles */

h1 {
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

/* mobile view */

.top_bg_container {
    height: 100vh;
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: 80% auto;
    z-index: -1;
}

.light_streaks {
    height: 100vh;
    background: #B2DD9E url("./assets/streaks.jpg");
    background-blend-mode: screen;
    background-size: cover;
}

.blue_col {
    background-color: #7988BE;
    height: 100vh;
}

/* main */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: .2em .4em;
    color: #fff;
    font-size: 1.6rem;
    background: #000;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;

}

.logo span {
    color: #7988BE;
}

.menu{
    width: 2em;
    cursor: pointer;
    transition: 400ms;
}

.menu:hover {
    scale: 1.1;
}

/* nav */

nav {
    height: 100vh;
    width: 60%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: 0;
    background: #363B4E;
    color: #fff;
    z-index: 2;
    text-align: right;
    transform: translateX(100%);
    transition: 300ms transform;
}

.exit {
    width: 2em;
    margin: 2em;
    cursor: pointer;
    transition: 400ms;
}

.exit:hover {
    scale: 1.1;
}

ul li a {
    display: block;
    padding: 1em;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    transition: 400ms;
}

ul li a:hover {
    background: #B2DD9E;
    color: #000;
}

/* main hero */
main {
    margin-left: 2em;
}

.hero {
    margin: 4em 3em;
    height: 75vh;
}

.hero_title {
    width: 80%;
    margin: 1em auto 0;
    font-size: 3rem;
    text-align: left;
}

.hero_intro {
    font-size: 1.25rem;
    line-height: 1.4;
    width: 80%;
    margin: 1em auto;
    text-align: left;
}

.drone_pics {
    position: relative;
    width: 70%;
    margin-top: 4em;
}

.drone_pic,
.blur_pic {
    position: absolute;
}

.blur_pic {
    top: 1em;
    opacity: .4;
    animation: puls 2s alternate-reverse infinite;
}

.drone_pic {
    animation: up 2s alternate-reverse infinite;
}

@keyframes up {
    from {
        transform: translateY(-40px);
    }
}

@keyframes puls {
    from {
        opacity: 0;
    }
}

/* content */

.content {
    width: 90%;
    background-color: #303853;
    color: white;
    position: relative;
    padding: 4em 2em;
    margin-left: auto;
    height: 75vh;
    border: 1px solid yellow;
}

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('./assets/stadium.jpg');
    width: 100%;
    height: 100%;
    opacity: .17;

}

.quote {
    margin: 0 0 2em 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.author {
    position: relative;
    padding-left: 1.5em;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    z-index: 10;
}

.author:before {
    content: '';
    width: 28px;
    position: absolute;
    height: 2px;
    background-color: white;
    top: 50%;
    left: -8px;

}
/* gallery */

.gallery {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-bottom: 2em;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'Bebas Neue', sans-serif;
}

.footage-content p {
    font-family: 'Montserrat';
}

.gallery-container {
    display: grid;
    grid-template-areas:
        ". a b"
        "c d ."
        ". e .";
    margin-top: 2em;
}

.gallery-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.gallery-container img:nth-of-type(1) {
    grid-area: a;
}
.gallery-container img:nth-of-type(2) {
    grid-area: b;
}
.gallery-container img:nth-of-type(3) {
    grid-area: c;
}
.gallery-container img:nth-of-type(4) {
    grid-area: d;
}
.gallery-container img:nth-of-type(5) {
    grid-area: e;
}

@media only screen and (min-width: 900px) {
    html {
        font-size: 20px;
    }
    
    .top-bg-container {
        width: 80%;
        grid-template-columns: 60% auto;
    }
    
    main {
        width: 80%;
        margin: 0 auto;
    }
    h1 {
        font-size: 5rem;
        width: 80%;
    }
    
    nav ul {
        transform: translateX(0);
        width: unset;
        background: none;
        display: flex;
        padding-top: 1em;
        padding-bottom: 0;
        position: unset;
        height: auto;
    }
    
    nav ul li a {
        font-size: 1rem;
        padding: 0 1em;
    }

}

